@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #E5E5E5;
    height: 100vh;
}

header {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    
}


.redes {
    gap: 8px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.redes img{
    width: 30px;
    height: 30px;
    align-items: center;
}

.redes p {
    display: inline;
}

.main {
    
    display: grid;
    grid-template-columns: 1fr 400px;
    width: auto;
    justify-items: center;
    align-content: center;
    margin: 0 200px;
    height: 100vh;
}



.botoes {
    grid-column: 1;
    margin-top: 5px;
    
    
}

.alerta {
    display: flex;
    gap: 5px;
    grid-column: 1;
    grid-row: 1;
    font-size: 12px;
    margin-bottom: 20px;
}



.texto_alerta {
    grid-column: 2;
    grid-row: 2;
    
    
    
}

.textoarea {
    width: 600px;
    

}

.areatexto .p1 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: rgb(73, 72, 72);
    
}

.areatexto .p2 {
    text-align: center;

}

.textoarea textarea {
    resize: none;
    background-color: transparent;
    border: none;
    width: 300px;
    height: 350pxS;
    font-size: 30px;
    outline: 0;
    
    
}
.areatexto {
    border-radius: 32px;
    grid-column: 2;
    grid-row: 1;
    background-color: white;
    width: 400px;
    height: 450px;
}


.button1 {
    background-color: #0A3871;
    color: white;
    padding: 15px;
    width: 200px;
    border-radius: 18px;
    border-style: none;
    
}

.button2 {
    background-color: #D8DFE8;
    border-radius: 18px;
    width: 200px;
    padding: 15px;
    border : 0.1px solid #0A3871;
    box-shadow: inset;
}














